:root {
  --se-color: #ccffff;
  --activity-color: #f3f5a3;
  --rd-color: #ccffcc;
  --event-color: #d8d8ff;
  --misc-color: #f5d4a3;
  --miscb-color: #ffcfb5;
}

#flex-nav {
    width: 90vw;
    display:flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    height:5vh;
    background-color: red
}

#flex-container {
    /* height: 85vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: stretch;
    align-content: space-around;
}

#file-menu {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    align-self: auto;
    order: 0;

    background-color: rgb(69, 64, 100);
}

#wrap-editor {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
    align-self: auto;
    order: 0;
}

#side-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    align-self: auto;
    order: 0;
    background-color: rgb(154, 223, 128);
}

.side-panel-right {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 15.333333%;
    max-width: 15.333333%;
}

.systemelement {
    color: #315696;
	background-color: #ccffff;
    border-color: #9affff;
}

.activity {
    color: #315696;
	background-color: #f3f5a3;
    border-color: #eef17e;
}
.reportingdata {
    color: #315696;
	background-color: #ccffcc;
    border-color: #9eff9e
}

.event {
    color: #315696;
	background-color: #d8d8ff;
    border-color: #a9a9ff;
}

#flex-footer {
    width: 90vw;
    display:flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    height:5vh;
    background-color: red
}

#projectTitleModal {
	background-color: #0009;
}

#currentProjectTitle {
    cursor: pointer;
    padding: 2px 8px;
    display: inline;
    font-size: 18px;
    white-space: nowrap;
}

#currentProjectTitle:hover {
    background: #eee;
    border-radius: 2px;
}

#projectTitleModal {
    background: #0006;
}